[run]
# Measure branch coverage as well as statement coverage
branch = True
source =
    .

omit =
    *python?.?/*
    *site-packages/nose/*
    *__init__*
    ./venv/*
    */.virtualenvs/*
    ./test/*