[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "<5.0,>=4.4"
#"uwsgi" = "*"
"flask" = "*"
python-dotenv = "*"

[dev-packages]
"pylint" = "*"
"autopep8" = "*"
